<footer>
    <ul>
      <li><a href="#arrepentimiento">Botón de arrepentimiento</a></li>
      <li><a href="#condiciones">Términos y Condiciones</a></li>
      <li><a href="#quejas">Libro de Quejas</a></li>
    </ul>
  </footer>