<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <h2>Carrito de Compras</h2>
      <div class="cart-item">
        <img
          src="/images/i5.png"
          alt="Procesador Intel Core i5 12400F 4.4GHz Turbo"
        />
        <div class="item-details">
          <p>Procesador Intel Core i5 12400F 4.4GHz Turbo</p>
          <p>Comprar Ahora | Eliminar</p>
        </div>
        <div class="quantity-control">
          <button class="quantity-btn">-</button>
          <input type="number" value="1" />
          <button class="quantity-btn">+</button>
        </div>
        <p class="price">$175.000</p>
      </div>
      <div class="cart-item">
        <img
          src="/images/memoriasCorsair.jpg"
          alt="Memoria Corsair DDR5 32GB (2x16GB) 6400MHz"
        />
        <div class="item-details">
          <p>Memoria Corsair DDR5 32GB (2x16GB) 6400MHz</p>
          <p>Comprar Ahora | Eliminar</p>
        </div>
        <div class="quantity-control">
          <button class="quantity-btn">-</button>
          <input type="number" value="1" />
          <button class="quantity-btn">+</button>
        </div>
        <p class="price">$160.000</p>
      </div>
      <div class="cart-item">
        <img
          src="/images/motherAsrock.jpg"
          alt="Mother Asrcock B760M PG Sonic LGA 1700"
        />
        <div class="item-details">
          <p>Mother Asrcock B760M PG Sonic LGA 1700</p>
          <p>Comprar Ahora | Eliminar</p>
        </div>
        <div class="quantity-control">
          <button class="quantity-btn">-</button>
          <input type="number" value="1" />
          <button class="quantity-btn">+</button>
        </div>
        <p class="price">$260.000</p>
      </div>

      <div class="cart-summary">
        <p>Envío: <span>$12.000</span></p>
        <hr />
        <p>Total: <span>$607.000</span></p>
        <button>Comprar Todo</button>
      </div>

      <!-- Logos de las marcas -->
      <div class="logos">
        <img src="/images/logo9.png" alt="Marca 1" />
        <img src="/images/logo7.png" alt="Marca 2" />
        <img src="/images/logo15.png" alt="Marca 3" />
        <img src="/images/logo11.png" alt="Marca 4" />
        <img src="/images/logo2.png" alt="Marca 5" />
        <img src="/images/logo3.png" alt="Marca 6" />
        <img src="/images/logo12.png" alt="Marca 7" />
        <img src="/images/logo6.png" alt="Marca 8" />
        <img src="/images/logo1.png" alt="Marca 9" />
        <img src="/images/logo5.png" alt="Marca 10" />
        <img src="/images/logo8.png" alt="Marca 11" />
        <img src="/images/logo4.png" alt="Marca 12" />
        <img src="/images/logo10.png" alt="Marca 13" />
        <img src="/images/logo16.png" alt="Marca 14" />
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
