<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LegoByteTech</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Aptos&display=swap"
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/d683ca57df.js"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/script.js"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/images/logo.png" alt="Logo Legobytetech" />
        <!-- Barra de Búsqueda -->
        <form action="/buscar" method="GET">
          <input type="text" id="busqueda" name="b" placeholder="Buscar..." />
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="account">
          <button>
            <i class="fa-solid fa-user"></i><a href=""> Mi Cuenta</a>
          </button>
          <a href="/cart" class="cart-link">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
    </header>
    <!-- Barra de navegación -->
    <nav>
      <ul>
        <li><a href="#productos">Productos</a></li>
        <li><a href="#armador">Armador</a></li>
        <li><a href="#ayuda">Ayuda</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>

    <main>
      <h2>Carrito de Compras</h2>
      <div class="cart-item">
        <img
          src="/images/i5.png"
          alt="Procesador Intel Core i5 12400F 4.4GHz Turbo"
        />
        <div class="item-details">
          <p>Procesador Intel Core i5 12400F 4.4GHz Turbo</p>
          <p>Comprar Ahora | Eliminar</p>
        </div>
        <div class="quantity-control">
          <button class="quantity-btn">-</button>
          <input type="number" value="1" />
          <button class="quantity-btn">+</button>
        </div>
        <p class="price">$175.000</p>
      </div>
      <div class="cart-item">
        <img
          src="/images/memoriasCorsair.jpg"
          alt="Memoria Corsair DDR5 32GB (2x16GB) 6400MHz"
        />
        <div class="item-details">
          <p>Memoria Corsair DDR5 32GB (2x16GB) 6400MHz</p>
          <p>Comprar Ahora | Eliminar</p>
        </div>
        <div class="quantity-control">
          <button class="quantity-btn">-</button>
          <input type="number" value="1" />
          <button class="quantity-btn">+</button>
        </div>
        <p class="price">$160.000</p>
      </div>
      <div class="cart-item">
        <img
          src="/images/motherAsrock.jpg"
          alt="Mother Asrcock B760M PG Sonic LGA 1700"
        />
        <div class="item-details">
          <p>Mother Asrcock B760M PG Sonic LGA 1700</p>
          <p>Comprar Ahora | Eliminar</p>
        </div>
        <div class="quantity-control">
          <button class="quantity-btn">-</button>
          <input type="number" value="1" />
          <button class="quantity-btn">+</button>
        </div>
        <p class="price">$260.000</p>
      </div>

      <div class="cart-summary">
        <p>Envío: <span>$12.000</span></p>
        <hr />
        <p>Total: <span>$607.000</span></p>
        <button>Comprar Todo</button>
      </div>

      <!-- Logos de las marcas -->
      <div class="logos">
        <img src="/images/logo9.png" alt="Marca 1" />
        <img src="/images/logo7.png" alt="Marca 2" />
        <img src="/images/logo15.png" alt="Marca 3" />
        <img src="/images/logo11.png" alt="Marca 4" />
        <img src="/images/logo2.png" alt="Marca 5" />
        <img src="/images/logo3.png" alt="Marca 6" />
        <img src="/images/logo12.png" alt="Marca 7" />
        <img src="/images/logo6.png" alt="Marca 8" />
        <img src="/images/logo1.png" alt="Marca 9" />
        <img src="/images/logo5.png" alt="Marca 10" />
        <img src="/images/logo8.png" alt="Marca 11" />
        <img src="/images/logo4.png" alt="Marca 12" />
        <img src="/images/logo10.png" alt="Marca 13" />
        <img src="/images/logo16.png" alt="Marca 14" />
      </div>
    </main>

    <footer>
      <ul>
        <li><a href="#arrepentimiento">Botón de arrepentimiento</a></li>
        <li><a href="#condiciones">Términos y Condiciones</a></li>
        <li><a href="#quejas">Libro de Quejas</a></li>
      </ul>
    </footer>
  </body>
</html>
